@import "bourbon/bourbon";
@import "_fonts";

$text-color: #595959;
$light-color: #999;
$off-white: #fafafa;

html {
    font-family: "GothamRounded";
    font-weight: 300;
    font-size: 14px;
    color: $text-color;

    height: 100%;
}
html, body {
    margin: 0;
    padding: 0,
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;

    h1 {
        font-weight: 700;
    }
    &.hero {
        display: table;
        text-align: center;
    }
    > .hero {
        display: table-cell;
        vertical-align: middle;
    }
}
#Login {
    color: $off-white;
    @include background-image(radial-gradient(#444, #333));

    object {
        fill: white;
        stroke: white;
    }
}
