@font-face {
  font-family: "HelveticaNeue";
  font-weight: 100;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTPro-UltLt.otf"); }
@font-face {
  font-family: "HelveticaNeue";
  font-weight: 200;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTPro-Lt.otf"); }
@font-face {
  font-family: "HelveticaNeue";
  font-weight: 300;
  src: url("../fonts/HelveticaNeue/HelveticaNeue.ttf"); }
@font-face {
  font-family: "HelveticaNeue";
  font-weight: 400;
  src: url("../fonts/HelveticaNeue/HelveticaNeueLTPro-Bd_0.otf"); }
@font-face {
  font-family: "ProximaNova";
  font-weight: 300;
  src: url("../fonts/ProximaNova/ProximaNova-Regular.otf"); }
@font-face {
  font-family: "ProximaNova";
  font-weight: 200;
  src: url("../fonts/ProximaNova/ProximaNova-Light.otf"); }
@font-face {
  font-family: "ProximaNova";
  font-weight: 400;
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.otf"); }
@font-face {
  font-family: "GothamRounded";
  font-weight: 300;
  src: url("../fonts/Gotham/rounded/gotham-rounded-light.otf"); }
@font-face {
  font-family: "GothamRounded";
  font-weight: 400;
  src: url("../fonts/Gotham/rounded/gotham-rounded-book.otf"); }
@font-face {
  font-family: "GothamRounded";
  font-weight: 500;
  src: url("../fonts/Gotham/rounded/gotham-rounded-medium.otf"); }
@font-face {
  font-family: "GothamRounded";
  font-weight: 700;
  src: url("../fonts/Gotham/rounded/gotham-rounded-bold.otf"); }
@font-face {
  font-family: "GothamNarrow";
  font-weight: 100;
  src: url("../fonts/Gotham/narrow/GothamNarrow-Xlight.otf"); }
@font-face {
  font-family: "GothamNarrow";
  font-weight: 200;
  src: url("../fonts/Gotham/narrow/GothamNarrow-Light.otf"); }
@font-face {
  font-family: "GothamNarrow";
  font-weight: 300;
  src: url("../fonts/Gotham/narrow/GothamNarrow-Thin.otf"); }
@font-face {
  font-family: "GothamNarrow";
  font-weight: 400;
  src: url("../fonts/Gotham/narrow/GothamNarrow-Book.otf"); }
@font-face {
  font-family: "GothamNarrow";
  font-weight: 500;
  src: url("../fonts/Gotham/narrow/GothamNarrow-Medium.otf"); }
@font-face {
  font-family: "GothamNarrow";
  font-weight: 700;
  src: url("../fonts/Gotham/narrow/GothamNarrow-Ultra.otf"); }
html {
  font-family: "GothamRounded";
  font-weight: 300;
  font-size: 14px;
  color: #595959;
  height: 100%; }

html, body {
  margin: 0;
  padding: 0; }

.page {
  position: absolute;
  width: 100%;
  height: 100%; }
  .page h1 {
    font-weight: 700;
    text-transform: uppercase; }
  .page.hero {
    display: table;
    text-align: center; }
  .page > .hero {
    display: table-cell;
    vertical-align: middle; }

.input-text-field {
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  cursor: text;
  position: relative;
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  height: 2.75em;
  line-height: 2.75em;
  margin-bottom: 0.5em;
  padding: 0 1.0em;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .input-text-field > i {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
    color: #999; }
  .input-text-field > input {
    width: calc(100% - 1.95em);
    height: 100%;
    margin: 0 0 0 0.25em;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    font-family: "GothamRounded";
    font-size: 1.0em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .input-text-field > .flourish {
    -webkit-transition: width 0.5s, left 0.5s, opacity 0.5s;
    -moz-transition: width 0.5s, left 0.5s, opacity 0.5s;
    transition: width 0.5s, left 0.5s, opacity 0.5s;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 4px;
    background: #F5AA20;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    opacity: 0; }
  .input-text-field.hover, .input-text-field.focus {
    background: #fef4e3; }
    .input-text-field.hover > i, .input-text-field.focus > i {
      color: #F5AA20; }
  .input-text-field.focus > .flourish {
    left: 0;
    width: 100%;
    opacity: 1.0; }

button {
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  cursor: pointer;
  height: 2.75em;
  padding: 0.35em 0.7em;
  border: none;
  border-bottom: solid 0.25em #d8900a;
  background: #F5AA20;
  color: #fff;
  border-radius: 3px;
  font-size: 1.0em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  button:hover, button:focus {
    background: #f7bd51;
    outline: none; }

#Login {
  color: #fafafa;
  background-image: -webkit-radial-gradient(#444, #333);
  background-image: radial-gradient(#444, #333); }
  #Login .sign-in-container {
    width: 50%;
    margin: 0 auto;
    font-size: 1.25em;
    text-align: left; }
    #Login .sign-in-container > .input-text-field, #Login .sign-in-container > button {
      width: 100%; }

/*# sourceMappingURL=main.css.map */
