<div class="hero">
    <h1>Veeva Series of Poker</h1>

    <div class="sign-in-container">
        <div class="username-input input-text-field">
            <i class="fa fa-fw fa-user-circle-o"></i>
            <input type="text" placeholder="Enter username" />
            <div class="flourish"></div>
        </div>
        <br />
        <div class="password-input input-text-field">
            <i class="fa fa-fw fa-lock"></i>
            <input type="password" placeholder="Enter password" />
            <div class="flourish"></div>
        </div>
        <br />
        <button class="sign-in-btn">Sign In</button>
    </div>
</div>
